.card{
    background-color: rgb(203, 229, 229);
    width: 1100px;
    /* border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3); ceate a global css  */
   
}
.flex-container {
    display: flex;
  }
