<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3"> Comments (100,300)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">john Deo</h6>
            <small class="text-danger">Last Update 12 , Jan 2023</small>

            <div class="mt-3 mb-3">
                It is about exchanging ideas or opinions about what people think or feel about 
                 a topic.
            </div>

            <a href="#" class="mt-1">Reply</a> &nbsp; &nbsp;
            <a href="#" class="mt-1 ml-3">View Reply</a> &nbsp; &nbsp;

            <hr>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">john Deo</h6>
            <small class="text-danger">Last Update 12 , Jan 2023</small>

            <div class="mt-3 mb-3">
                It is about exchanging ideas or opinions about what people think or feel about 
                 a topic.
            </div>

            <a href="#" class="mt-1">Reply</a> &nbsp; &nbsp;
            <a href="#" class="mt-1 ml-3">View Reply</a> &nbsp; &nbsp;

            <hr>

        </div>

        <div class="comment-box mt-3">
            <h6 class="mb-0">john Deo</h6>
            <small class="text-danger">Last Update 12 , Jan 2023</small>

            <div class="mt-3 mb-3">
                It is about exchanging ideas or opinions about what people think or feel about 
                 a topic.
            </div>

            <a href="#" class="mt-1">Reply</a> &nbsp; &nbsp;
            <a href="#" class="mt-1 ml-3">View Reply</a> &nbsp; &nbsp;

            <hr>

        </div>
    </div>
</div>