<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class=" text-white text-center">Contact-us</h1>

        <div class="p-5 mt-4 bg-secondary-theme">

            We continuously improve our themes and plugins so everyone can make changes 
             quickly without tweaking the <br>
            code. However, we know some projects might <br> require customization, and 
             that's 
             why we partnered with Codeable <br>
            They are ready to pair you with experienced developers to build something 
             great according to your needs and
            budget.<br> <br>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="https://media.licdn.com/dms/image/C5603AQHcdP_AluLkeg/profile-displayphoto-shrink_800_800/0/1644586771959?e=2147483647&v=beta&t=rGuGF4fkO2U1wEgy4b28xldlThB-lwkXClZ2Ju1P_7w" alt="" class="contact-img">
                        
                    </div>
                   <strong> <p style="text-align: right; font-family: serif; size: 10%;"> 
                 <i class="fa-solid fa-file-signature"></i>&nbsp; :Sushil Ashok Jawale 
                      <br>
                          <i class="fa-sharp fa-solid fa-user-tie"></i>&nbsp;:
                          Software Engineer  <br>
                        <i class="fa-solid fa-building-columns "></i>
                        &nbsp;: M.Sc (Computer Science) <br> [BAMU Aurangabad] <br>
                        <i class="fa-regular fa-envelope " style="color: #4e1fcf;"> 
                        </i> &nbsp;:<a href="">jawalesushil70@gmail.com</a> <br>    
                    </p></strong>
                    
                </div>
            </div>
            
      




            <br>
            <div class="text-center">
                <button class=" btn btn-info btn-block btn-sub " routerLink="/">
                     Back to home</button>
            </div>
            
            <div class="icon-container">
            <i class="fa-solid fa-envelope fa-xl fa-beat-fade" style="color: #2e6cd1;"> 
            </i>&nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp;   
           <a href="https://www.linkedin.com/in/sushil-jawale">
          <i class="fa-brands fa-linkedin fa-xl fa-beat-fade" style="color: #1662e3;"> 
          </i> 
               </a>&nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp;   
         <a href="https://github.com/Sushiljawale">
            <i class="fa-brands fa-github fa-xl fa-beat-fade"></i>
               </a>&nbsp; &nbsp;&nbsp; &nbsp;   &nbsp; &nbsp;   
             <a href="https://twitter.com/SushilJawale3"></a>
             <i class="fa-brands fa-square-twitter  fa-xl fa-beat-fade" 
             style="color: #1c5ece;">
            </i>&nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp;   
         <a href="https://www.instagram.com/the_sushiljawale16" 
             class="link"><i 
         class="fa-brands fa-square-instagram fa-xl fa-spin"
            style="color: #e20303;"></i></a>
        </div>

        </div>
    </div>
</section>