<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class=" text-white text-center"> About Us</h1>

        <div class="p-5 mt-4 bg-secondary-theme">
            <p>About that second thing-the audience- what's great about LinkedIn's user base 
                 is that those are highly
                focused users, professionals and business owners. In fact, it's reported that 
                 more than 30 million<br>
                businesses are active on LinkedIn. And they's re not just there for the sake 
                 of it. Other data indicates
                that 94% of B2B marketers use the platform as one of their primary lead 
                 sources.Check Out Some<br>
                Successful Blog Examples. Learn How You Can Implement Their
                Methods. See What it Takes to From a technical point of view, publishing on 
                 LinkedIn is easy. Just go to your LinkedIn feed and use the “Start a post” 
                  widget at the top of the page. To convert your status into a full post, 
                   click on “Write an article on LinkedIn” to open the full-screen editing 
                    window. </p> <br>
            <div class="text-center">
                <button class=" btn btn-info btn-block btn-sub "
                routerLink="/"><i class="fa fa-arrow-alt-circle-left"></i>
                Back to home</button>
            </div>

        </div>
    </div>
</section>